<%- include('query5') %>

    <div class="col-8 d-flex justify-content-center">
        <div class="chart-container" style="position: relative; height:30vh; width:40vw">
            <canvas id="myChart"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            let yearsArray = '<%= years %>'.split(',');
            let dataArray = '<%= avgSqFt %>'.split(',');

            const data = {
                labels: yearsArray,
                datasets: [{
                    label: '<%= city %>',
                    backgroundColor: 'rgb(0, 106, 255)',
                    borderColor: 'rgb(0, 106, 255)',
                    data: dataArray,
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: 'Average Square Footage Per Year in <%= city %>, <%= state %>'
                        },
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Year'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Average Square Footage'
                            }
                        }
                    }
                }
            };
        </script>

        <script>
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>
    </div>

    </div>
    </div>